@import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marby Pro",sans-serif;
}